.hero{
    
    height: 90vh;
    background-image:linear-gradient(to right bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url(../images/hotel.jpeg);
    color: $text-color;
    position: relative;
    // background-size: cover;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    
    &_textBox{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
        line-height: 1.4;
    }
    &_heading{
        letter-spacing: 2px;
        margin-bottom: 1.2rem;
        
    }
    &_text{
        font-size: 1.6rem;
        font-weight: 500;
    }
    &_sub-heading{
        font-size: 2rem;
        font-weight: 500;
        margin-bottom: 3rem;
    }
}
// .header{}
.logo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    // margin-bottom: 2rem;
    margin-bottom: 2rem;
    &_img{
        width: 8rem;
        // margin-left: auto;'
    }
    &_icon{
        font-size: 5rem;
        justify-self: start;
        padding-left: 2rem;
    }
    &_contect{
        justify-self: end;
        margin-right: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        &-no{
            font-size: 30%;
        }
        &-btn{
            display: inline-block;
            text-decoration: none;
            font-size: 30%;
            text-align: center;
            padding: .8rem 1.6rem;
            border: 2px solid $text-color;
            margin: .5rem auto;
            color: $text-color;

        }
    }
}
.header{
    position: relative;
}
.nav{
    @media (max-width:62.5em){
        position: absolute;
        left: 0;
        top: 7rem;
        
        background-color: #fff;
        width: 50%;
        height: 100vh;
        padding: 4rem;
        transition: all .4s;
        transform: translateX(-100%);
    }
    &_items{
        @media (max-width:62.5em){
        flex-direction: column;
        align-items: flex-start;
        gap: 3rem;
        }
        list-style: none;
        display: flex;
        width: 70%;
        margin: 0 auto;
        // border: 2px solid black;
        justify-content: space-between;
        font-size: 1.8rem;
        font-weight: 600;
        align-items: center;
        
    }
    &_link{
        text-decoration: none;
        color: $text-color;
        @media (max-width:62.5em){
           color: $color-primary;;
        }
    }


}